<div class="buttons">
    <button class="record-button btn">Record</button>
    <button class="play-button btn">Play</button>
    <button class="save-button btn">Save</button>
</div>
<div class="piano">
    <div class="key white" data-note="C">
        <p>C</p>
    </div>
    <div class="key black" data-note="Db">
        <p>Db</p>
        <p>C#</p>
    </div>
    <div class="key white" data-note="D">
        <p>D</p>
    </div>
    <div class="key black" data-note="Eb">
        <p>Eb</p>
        <p>D#</p>
    </div>
    <div class="key white" data-note="E">
        <p>E</p>
    </div>
    <div class="key white" data-note="F">
        <p>F</p>
    </div>
    <div class="key black" data-note="Gb">
        <p>Gb</p>
        <p>F#</p>
    </div>
    <div class="key white" data-note="G">
        <p>G</p>
    </div>
    <div class="key black" data-note="Ab">
        <p>Ab</p>
        <p>G#</p>
    </div>
    <div class="key white" data-note="A">
        <p>A</p>
    </div>
    <div class="key black" data-note="Bb">
        <p>Bb</p>
        <p>A#</p>
    </div>
    <div class="key white" data-note="B">
        <p>B</p>
    </div>
</div>

<audio id="C" src="/notes/C.mp3"></audio>
<audio id="Db" src="/notes/Db.mp3"></audio>
<audio id="D" src="/notes/D.mp3"></audio>
<audio id="Eb" src="/notes/Eb.mp3"></audio>
<audio id="E" src="/notes/E.mp3"></audio>
<audio id="F" src="/notes/F.mp3"></audio>
<audio id="Gb" src="/notes/Gb.mp3"></audio>
<audio id="G" src="/notes/G.mp3"></audio>
<audio id="Ab" src="/notes/Ab.mp3"></audio>
<audio id="A" src="/notes/A.mp3"></audio>
<audio id="Bb" src="/notes/Bb.mp3"></audio>
<audio id="B" src="/notes/B.mp3"></audio>

<script src="javascript/script.js"></script>